@{
    ViewBag.Title = "Dashboard";
}
<h1>Welcome @TempData["Name"]</h1>
<br />
<br />

<a class="btn btn-info" href="/Student/ViewStudents">View Students</a>
<a class="btn btn-info" href="/Student/AddStudents">Add Students</a>
<a class="btn btn-info" href="/Student/ViewDepartments">View Departments</a>
